.button {
    /*background-color: #4CAF50;*/
    border: none;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    width: 40px;    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.buttonRed {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.buttonRed:hover {
    background-color: #f44336;
    color: white;
}

.buttonBlue1 {
    background-color: white; 
    color: black; 
    border: 2px solid #3f51b5;
}

.buttonBlue1:hover {
    background-color: #3f51b5;
    color: white;
}

.buttonBlue2 {
    background-color: white; 
    color: black; 
    border: 2px solid #2196f3;
}

.buttonBlue2:hover {
    background-color: #2196f3;
    color: white;
}
input{display:block; margin: initial;
    background-color:#d2caca;width: 290px;
        text-align: right;}
.numeros{float:left;background-color:#e7e7e7; }
.coment{float:left; width: 400px;margin-left: 20px;}
form{float:left;
    border: 2px solid #f44336;
    padding: 5px;
    width: 294px;
}

.tooltip {
    position: relative;
    /*display: inline-block;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    right: : 50%;
    margin-right: -60px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}